@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

}

.marquee-content {

  animation: marqueeAnimation 20s linear infinite;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
